@model Mvc_DropDownListDoldurma.Models.ViewModel.IndexModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.6.4.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
        </div>
    </div>
    <h2>DropdownList Doldurma</h2>

    <div class="row">

        <div class="col-md-10 col-md-offset-1">
            @using (Html.BeginForm())
            {
                <div class="Form-horizontal">

                    <div class="form-group">
                        <label class="col-md-2 control-label">Ulke</label>

                        <div class="col-md-10"> @* sayfada model olduğu için buralarda DropDownListFor u kullandık mode ile yazdırmak için*@
                            @Html.DropDownListFor(x=>x.SecilenUlkeId, Model.UlkeListesi, "Lütfen seçiniz", new { @class = "form-control dropdown" })

                        </div>
                    </div>
                    <br /><br />
                    <div class="form-group">
                        <label class="col-md-2 control-label">Şehir</label>

                        <div class="col-md-10">
                            @Html.DropDownListFor(x=>x.SecilenSehirId, Model.SehirListesi, "Lütfen seçiniz", new { @class = "form-control dropdown" })

                        </div>
                    </div>
                    <br />
                    <div class="col-md-10 col-lg-offset-2">
                        <div class="form-group">
                            <button type="submit" class="btn btn-success">Gönder</button>
                        </div>
                    </div>
                    <br /><br />
                    <div class="form-group">
                        <div class="col-md-10 col-lg-offset-2">
                            <div class="alert alert-info">
                                Seçilen Ülke ID:@ViewBag.SecilenUlkeId
                                <br />
                                Seçilen Sehir ID:@ViewBag.SecilenSehirId
                            </div>
                        </div>
                    </div>
                </div>

            }
        </div>

    </div>

    @*Java-Script - Seçilen Ülkeye göre şehir getir.*@

    <script>
        $("SecilenUlkeId").change(function myfunction() {

            var ulkeId = $("SecilenUlkeId").val();//bunun değerini val ile aldık
            if (ulkeId != -1 || ulkeId != "") {
                $("SecilenSehirId").not(":first").remove(); // lütefen seçiniz hariç diğer seçenekleri sill

                //done demek doğru birşekilde işlem gerçekleştiyse demek
                $.ajax({ method: "GET", url: "Home/SehirGetir/" + this.id }).done(function (sonuc) {
                    var dll = $("SecilenSehirId");
                    for (var  = 0; < sonuc; ++)
                {
                    var id = sonuc[i].SehirId;
                    var isim = sonuc[i].SehirId;
                    var opt = $("<option ></option>")
                    opt.text(isim);
                    opt.val(id);
                    ddl.append(opt);


                }


            }); // sayfayı anlık olarak senkron eder.

            

        };

    </script>



</body>
</html>
